# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VSCode folders
.vscode/

# Build folders
.pio/

# Altium folders
/hardware/History
/hardware/Project Outputs for PCB_Project1
/hardware/Project Logs for PCB_Project1
docs/resources/~$hardware_diagram.drawio.bkp
